<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Quiz Platform - Login</title>

</head>
<body>
<div class="header">
    <h1 style="margin-right: 150px">Welcome to Quiz Platform!</h1>
    <p class="motto">Where Learning Meets Fun...</p>
</div>
<div class="login-container">
    <h2>Login</h2>
    <form>
        <input type="text" id="username" placeholder="Username">
        <input type="password" id="password" placeholder="Password">
        <button id="loginButton">Log In</button>
    </form>
    <p>Don't have an account? <a onclick="registerUser()">Register here</a></p>
</div>

<script>
    function registerUser(){
        alert("Feature not yet implemented!");
    }

    $("#loginButton").click(() => {

        const data = {
            username: $("#username").val(),
            password: $("#password").val(),
        };

        $.ajax({
           url: "/LogIn/login",
           type: "POST",
            dataType: "JSON",
            data: data,
            cache: false,
            success: function (data) {
                window.location.href = "mainPage.html"; // redirect User to the main page if login is success
            },
            statusCode:{
               403: function (response){
                   alert("Failed to login, please try again!");
               }
            }
        });
    });
</script>
</body>
</html>
